canvas {
  background: #000;
  display: block;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.c {
  display: inline-block;
  position: relative;
}

.c:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient( to bottom, rgba(0,0,0,0.25), transparent 1px);
  background-size: 100% 2px;
  z-index: 1;
}