/* elements */
html, body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

button {
  border: 0;
}

button:focus {
  outline: 2px groove #3B99FC;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  background: black;
}





/* arcade */
.a {
  background: url(../arcade.png) no-repeat center;
  height: 100%;
  background-size: 600px;
  background-position: center -100px;
  position: relative;
}

  /* canvas wrapper */
  .cw {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 350px;
    display: inline-block;
  }

  .cw:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0.25), transparent 1px);
    background-size: 100% 2px;
    z-index: 1;
  }

    /* game button wrapper */
    .gbw {
      width: 100%;
      height: 100%;
    }

    /* game button */
    .gb {
      display: inline-block;
      width: 30.956%;
      height: 30.29%;
      padding: 5px;
      position: relative;
      z-index: 5;
      margin: 0;
      background: transparent;
      box-sizing: content-box;
    }





  /* controls */
  .c {
    text-align: center;
    position: absolute;
    bottom: 174px;
    left: 45%;
    transform: translateX(-50%);
  }

    /* joystick */
    #j {
      width: 35px;
      height: 35px;
      padding: 10px;
      position: relative;
      left: -10px;
    }

    #j:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: red;
      background-image: linear-gradient(red, #FF5555 2%, #B30000 55%, red 98%);
      box-shadow: 0 10px 10px rgba(0,0,0,0.5);
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 0.1s;
      display: inline-block;
      z-index: 1;
    }

    /* up, right, down, left */
    #j.u:before {
      bottom: -7px;
      top: 7px;
    }

    #j.r:before {
      right: -20px;
      left: 20px;
      top: 4px;
    }

    #j.d:before {
      bottom: -20px;
      top: 20px;
    }

    #j.l:before {
      left: -20px;
      top: 4px;
    }

    /* plate */
    .p {
      position: absolute;
      width: 60px;
      height: 45px;
      border-radius: 50%;
      background: #6F7377;
      left: -12px;
      top: 38px;
    }

    .p:before {
      content: '';
      width: 30px;
      height: 20px;
      border-radius: 50%;
      background: #333331;
      display: block;
      top: 11px;
      left: 14px;
      position: absolute;
      border: 1px solid #222A2C;
    }

    /* up, right, down, left text */
    .ut {
      top: 19px;
      left: -37px;
    }

    .rt {
      top: 51px;
      left: 10px;
    }

    .dt {
      top: 88px;
      left: -37px;
    }

    .lt {
      top: 51px;
      left: -129px;
      text-align: right;
    }




    /* fire */
    .b {
      width: 55px;
      height: 55px;
      position: absolute;
      top: 21px;
      left: 106px;
      background: transparent;
      padding: 10px;
    }

    .b:active,
    .b.active {
      top: 24px;
    }

    .b:before {
      content: '';
      background: #f00;
      width: 30px;
      height: 20px;
      border-radius: 50%;
      border: 0;
      background-image: linear-gradient(red, #FF5555 2%, #B30000 55%, red 98%);
      box-shadow: 0px 3px 0px #B30000;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #B30000;
    }

    .b:active:before,
    .b.active:before{
      box-shadow: none;
    }

    /* button holder */
    .bh {
      position: absolute;
      z-index: -1;
      width: 36px;
      height: 26px;
      border-radius: 50%;
      background: #f00;
      top: 41px;
      left: 116px;
    }

    /* fire text */
    .ft {
      left: 78px;
      top: 73px;
    }





    /* menu button */
    #m {
      top: 0;
      left: 190px;
    }

    #m:before {
      background-image: linear-gradient(white, #F5F5F5 2%, #D6D6D6 55%, white 98%);
      border: 1px solid #D6D6D6;
      box-shadow: 0px 3px 0px #D6D6D6;
    }

    #m:active,
    #m.active {
      top: 4px;
    }

    .bw {
      background: #fff;
      left: 200px;
      top: 20px;
    }

    /* menu text */
    .mt {
      left: 163px;
      top: 51px;
    }





/* screen reader only */
.sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* text */
.t {
  color: white;
  font-family: arial;
  position: absolute;
  width: 110px;
  font-size: 15px
}

@media (max-width: 1000px) {
  .t {
    display: none;
  }
}


/*
.stick {
  width: 5px;
  height: 25px;
  background: #6f7377;
  position: absolute;
  top: 35px;
  left: 15px;
  z-index: 1;
  transition: all 0.1s;
}

.j.left + .stick {
  transform: rotate(-30deg);
  left: 9px;
}

.j.right + .stick {
  transform: rotate(30deg);
  left: 21px;
}*/